<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPointLabel" jhiTranslate="plenaryErpApp.point.home.createOrEditLabel">Create or edit a Point</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!point.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="point.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="point.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.fullName" for="field_fullName">Full Name</label>
            <input type="text" class="form-control" name="fullName" id="field_fullName"
                [(ngModel)]="point.fullName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.guid" for="field_guid">Guid</label>
            <input type="text" class="form-control" name="guid" id="field_guid"
                [(ngModel)]="point.guid"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.houseNumber" for="field_houseNumber">House Number</label>
            <input type="text" class="form-control" name="houseNumber" id="field_houseNumber"
                [(ngModel)]="point.houseNumber"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="point.address" required />
            <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.address?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.longitude" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                [(ngModel)]="point.longitude"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                [(ngModel)]="point.latitude"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.serviceTime" for="field_serviceTime">Service Time</label>
            <input type="number" class="form-control" name="serviceTime" id="field_serviceTime"
                [(ngModel)]="point.serviceTime"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="point.comment"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="point.createdBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="point.createdDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                [(ngModel)]="point.lastModifiedBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="d-flex">
                <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="point.lastModifiedDate"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.company" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" [(ngModel)]="point.companyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.fullName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.branch" for="field_branch">Branch</label>
            <select class="form-control" id="field_branch" name="branch" [(ngModel)]="point.branchId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="branchOption.id" *ngFor="let branchOption of branches; trackBy: trackBranchById">{{branchOption.fullName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.country" for="field_country">Country</label>
            <select class="form-control" id="field_country" name="country" [(ngModel)]="point.countryId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="countryOption.id" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.fullName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.region" for="field_region">Region</label>
            <select class="form-control" id="field_region" name="region" [(ngModel)]="point.regionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="regionOption.id" *ngFor="let regionOption of regions; trackBy: trackRegionById">{{regionOption.fullName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.settlement" for="field_settlement">Settlement</label>
            <select class="form-control" id="field_settlement" name="settlement" [(ngModel)]="point.settlementId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="settlementOption.id" *ngFor="let settlementOption of settlements; trackBy: trackSettlementById">{{settlementOption.fullName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plenaryErpApp.point.street" for="field_street">Street</label>
            <select class="form-control" id="field_street" name="street" [(ngModel)]="point.streetId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="streetOption.id" *ngFor="let streetOption of streets; trackBy: trackStreetById">{{streetOption.fullName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
