<div class="row about-container">
    <span class="about-span">
        <h1>Основные возможности:</h1>
        <ul>
            <li>выбор транспорта для доставки(свой транспорт, база привлекаемого транспорта);</li>
            <li>расчет и оптимизация маршрутов доставки;</li>
            <li>оптимизация, минимизация использования стоимости доставок;</li>
            <li>оформление сопроводительных документов;</li>
            <li>контроль доставки товара – диспетчеризация доставок;</li>
            <li>перепланирование доставок на ходу при срывах в текущих доставках</li>
        </ul>
        <label>Это перечень основных функций. Но для их реализации, сервис содержит еще сотни разнообразных возможностей, с которыми вы познакомитесь воспользовавшись сервисом.</label>

        &nbsp;

        <h3>ВАЖНОЕ ЗАМЕЧАНИЕ:</h3>

        Сервис оптимизирует НЕ КИЛОМЕТРАЖ транспорта.  Сервис оптимизирует НЕ ВРЕМЯ использования транспорта.

        СЕРВИС МИНИМИЗИРУЕТ СТОИМОСТЬ ДОСТАВОК.

        <p><em>Самый <strong>быстрый</strong> способ проезда, самый <strong>короткий</strong> способ проезда </em><em>и самый <strong>экономичный</strong> способ проезда
            даже для одной машины между <em>двумя </em>одними и теми же точкам могут существенно различаться.</em></p>

        <h2>Стоимость доставок зависит от следующих параметров:</h2>
        <ul>
            <li>Стоимость проезда километра конкретным автомобилем – и у разных автомобилей она разная;</li>
            <li>Загрузка автомобилей – чем полнее нагружен автомобиль, тем дороже его проезд;</li>
            <li>Время использования каждого автомобиля;</li>
            <li>Для арендованных автомобилей кроме перечисленных параметров добавляется стоимость подачи автомобиля;</li>
            <li>Штрафы за срыв доставки конкретному клиенту – особенно актуально для крупных покупателей</li>
        </ul>

        <h3>Сервис ищет наиболее дешевый план доставок.
            Но приходится учитывать параметры, нарушение которых недопустимо, нежелательно, или невозможно:</h3>
        <ul>
            <li>Дорожная сеть (используется лучшая в Украине карта компании «Визиком»)
                <ul>
                    <li>Закрытые для проезда тяжелого транспорта зоны городов</li>
                    <li>Возможность редактировать карту</li>
                    <li>Средняя скорость движения в различных частях города и за городом</li>
                    <li><em>в перспективе</em> – учет средней скорости движения на дорогах, в том числе пробок</li>
                    <li><em>в перспективе</em> – учет уклона дорог</li>
                </ul>
            </li>
            <li>Требования клиентов
                <ul>
                    <li>Временные окна доставок, диктуемые клиентами</li>
                    <li>Время на погрузку-разгрузку и оформление документов у клиента</li>
                </ul>
            </li>
            <li>Водители
                <ul>
                    <li>Максимальное рабочее время для водителя</li>
                    <li>Знакомство водителя с конкретными точками доставки - влияет на время обслуживания клиента</li>
                    <li><em>в перспективе</em> – условия выделения времени на обед водителю – сколько, когда, где</li>
                    <li><em>в перспективе</em> – условия планирования заправки – когда  где.</li>
                </ul>
            </li>
            <li>Транспорт
                <ul>
                    <li>Доступность автомобиля – когда он собственно может быть использован</li>
                    <li>Полная масса автомобиля по техпаспорту – влияет на запреты проезда по дорогам</li>
                    <li>Грузоподъемность автомобиля</li>
                    <li>Объем кузова автомобиля</li>
                    <li>Разрешенные для перевозки в данном автомобиле типы грузов</li>
                    <li>Максимальная стоимость грузов для данного автомобиля</li>
                </ul>
            </li>
        </ul>
        &nbsp;

        <h2>И осталось упомянуть о некоторых сервисных механизмах, которые необходимы для удобства использования:</h2>
        <ul>
            <li>Геокодирование точек доставки – без этого сложно начать использование сервиса, и это сделано на высшем уровне</li>
            <li>Дополнение карт проверенными маршрутами движения автомобилей</li>
            <li>Инструменты мониторинга (собственно для диспетчера) транспорта</li>
            <li>Учет профессионализма водителей при составлении планов доставки</li>
        </ul>
    </span>
</div>
