<div class="row home-container">
    <ngb-carousel class="home-carousel">
        <ng-template ngbSlide>
            <img src="../../content/images/img_traffic.jpg" class="img-carousel" alt="Random first slide">
            <div class="carousel-caption">
                <p jhiTranslate="home.slides.slide1"> </p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../../content/images/img_money.jpg" class="img-carousel" alt="Random second slide">
            <div class="carousel-caption">
                <p jhiTranslate="home.slides.slide2.row1"> </p>
                <p jhiTranslate="home.slides.slide2.row2"> </p>
                <p jhiTranslate="home.slides.slide2.row3"> </p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../../content/images/img_map.jpg" class="img-carousel" alt="Random third slide">
            <div class="carousel-caption">
                <p jhiTranslate="home.slides.slide3"></p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../../content/images/img_matrix.jpg" class="img-carousel" alt="Random third slide">
            <div class="carousel-caption">
                <p jhiTranslate="home.slides.slide4.row1"></p>
                <p jhiTranslate="home.slides.slide4.row2"></p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../../content/images/img_compas.jpg" class="img-carousel" alt="Random third slide">
            <div class="carousel-caption">
                <p jhiTranslate="home.slides.slide5.row1"> </p>
                <p jhiTranslate="home.slides.slide5.row2"> </p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
