/* ==========================================================================
Main page styles
========================================================================== */

.home-container {
    text-align: center;
    width: 1280px;
    margin: auto;
}

.home-carousel {
    width: 1280px;
    margin: auto;
    display: inline-block;
}

.img-carousel {
    width: 100%;
}

.carousel-caption {
    background: #333333;
    background: rgba(0, 0, 0, 0.75);
}
