
<div *ngIf="warehouse">
    <h2><span jhiTranslate="plenaryErpApp.warehouse.detail.title">Warehouse</span> {{warehouse.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="plenaryErpApp.warehouse.name">Name</span></dt>
        <dd>
            <span>{{warehouse.name}}</span>
        </dd>
        <dt><span jhiTranslate="plenaryErpApp.warehouse.fullName">Full Name</span></dt>
        <dd>
            <span>{{warehouse.fullName}}</span>
        </dd>
        <dt><span jhiTranslate="plenaryErpApp.warehouse.guid">Guid</span></dt>
        <dd>
            <span>{{warehouse.guid}}</span>
        </dd>
        <dt><span jhiTranslate="plenaryErpApp.warehouse.longitude">Longitude</span></dt>
        <dd>
            <span>{{warehouse.longitude}}</span>
        </dd>
        <dt><span jhiTranslate="plenaryErpApp.warehouse.latitude">Latitude</span></dt>
        <dd>
            <span>{{warehouse.latitude}}</span>
        </dd>
        <dt><span jhiTranslate="plenaryErpApp.warehouse.address">Address</span></dt>
        <dd>
            <span>{{warehouse.address}}</span>
        </dd>
        <dt><span jhiTranslate="plenaryErpApp.warehouse.houseNumber">House Number</span></dt>
        <dd>
            <span>{{warehouse.houseNumber}}</span>
        </dd>
        <dt><span jhiTranslate="plenaryErpApp.warehouse.createdBy">Created By</span></dt>
        <dd>
            <span>{{warehouse.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="plenaryErpApp.warehouse.createdDate">Created Date</span></dt>
        <dd>
            <span>{{warehouse.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="plenaryErpApp.warehouse.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{warehouse.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiTranslate="plenaryErpApp.warehouse.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{warehouse.lastModifiedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="plenaryErpApp.warehouse.company">Company</span></dt>
        <dd>
            <div *ngIf="warehouse.companyId">
                <a [routerLink]="['/company', warehouse.companyId]">{{warehouse.companyFullName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="plenaryErpApp.warehouse.branch">Branch</span></dt>
        <dd>
            <div *ngIf="warehouse.branchId">
                <a [routerLink]="['/branch', warehouse.branchId]">{{warehouse.branchFullName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="plenaryErpApp.warehouse.country">Country</span></dt>
        <dd>
            <div *ngIf="warehouse.countryId">
                <a [routerLink]="['/country', warehouse.countryId]">{{warehouse.countryFullName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="plenaryErpApp.warehouse.region">Region</span></dt>
        <dd>
            <div *ngIf="warehouse.regionId">
                <a [routerLink]="['/region', warehouse.regionId]">{{warehouse.regionFullName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="plenaryErpApp.warehouse.settlement">Settlement</span></dt>
        <dd>
            <div *ngIf="warehouse.settlementId">
                <a [routerLink]="['/settlement', warehouse.settlementId]">{{warehouse.settlementFullName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="plenaryErpApp.warehouse.street">Street</span></dt>
        <dd>
            <div *ngIf="warehouse.streetId">
                <a [routerLink]="['/street', warehouse.streetId]">{{warehouse.streetFullName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'warehouse/'+ warehouse.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
